{% extends 'base.html.twig' %}

{% block title %}New Reponse{% endblock %}

{% block body %}
    <h2>Create new Reponse</h2>

    {{ include('reponse/_form.html.twig', {'button_label': 'Create'}) }}

    <a href="{{ path('app_avis_reponses', {'id': reponse.avis.id}) }}" class="btn btn-secondary">Back to Responses</a>
{% endblock %}
