{# templates/partials/sidenav.html.twig #}
<nav class="sidenav">
    <ul>
        <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
        <li><a href="{{ path('admin_users') }}">User Management</a></li>
        <li><a href="{{ path('admin_settings') }}">Settings</a></li>
        <li><a href="{{ path('app_logout') }}">Logout</a></li>
    </ul>
</nav>