{% extends 'basef.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    <h4>Create a new complaint</h4>
    <div class="back-link mb-4">
    {% include 'avis/_form.html.twig' with {'form': form} %}
    
    <a href="{{ path('app_avis_index') }}">Back to list</a>
    </div>
{% endblock %}
