{% extends baseTemplate %}

{% block title %}Payment Success{% endblock %}

{% block body %}
    <h1>✅ Payment Successful</h1>
    <p>Your payment was processed successfully. Thank you!</p>
{% endblock %}
